{% extends ":Back:layout.html.twig" %}


{% block main %}
    <div class="container winner">

        <h2><span>Bravo</span> <br> {{  winner.firstname }} {{ winner.lastname }} !</h2>
        <p>Tu as été tiré au sort et tu remportes un smartphone!</p>
        <p>{{ winner.email }}</p>
        <br>

    </div>
{% endblock %}